<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="domain" value="http://www.eotu.com:81/" />
    <add key="host" value="passport.eotu.com" />
    <add key="port" value="81" />
    <add key="username" value="" />
    <add key="password" value="" />
  </appSettings>
</configuration>